*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

header {
    background: rgba(135, 80, 156, 1);
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.header-inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
}

.link ul{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.link li{
    list-style-type: none;
    margin-left: 20px;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.link a{
    text-decoration: none;
    color: white
}

.link a:hover {
    font-size: 20px;
}

.text-title-box{
    margin-top: 100px;
    width: 100%;
    display: block;
    align-items: center;
    text-align: center;
}

.text-title{
    color: #F7F3EA;
    font-size: 26px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

button{
    width: 200px;
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: 700;
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
    border: 1px solid rgb(240, 157, 64);
    background: rgb(240, 157, 64);
    padding: 15px 35px;
    border-radius: 3px;
}

.container1{
    width: 100%;
    height: 747px;
    background: rgba(23, 194, 164, 1);
}

.main-box{
    width: 100%;
    display: block;
    align-items: center;
    text-align: center;
}

.main-heading{
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    padding-top: 100px;
    font-weight: 700;
    padding-bottom: 15px;
}

.main-heading1{
    color: white;
}

.text-box{
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif;
    padding-top: 20px;
}

.text-box1{
    color: white;
}

.icons-services{
    width: 80%;
    display: inline-flex;
    justify-content: space-between;
    margin-top: 70px;
}

.icon-box-services{
    display: block;
    align-items: center;
    width: 200px;
}

.heading-icon-services{
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: 50px;
}

.text-icon-services{
    color: white;
    font-family: 'Titillium Web', sans-serif;
    margin-top: 30px;
    font-weight: 300;
}

.container2{
    width: 100%;
    height: 914px;
    background: rgba(231, 241, 248, 1);
}

.main-heading2 {
    color: #3C4761;
}

.text-box2{
    color: #3C4761;
}

.icons-team{
    width: 80%;
    display: inline-flex;
    justify-content: space-between;
    margin-top: 70px;
}

.icon-box-team{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.team-icon{
    display: flex;
    justify-content: center;
    align-items:center;
    
}

.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: rgba(135, 135, 135, 1);
    
}

.heading-icon-team{
    color: #27283D;
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    margin-top: 50px;
}

.under-heading-icon-team{
    font-size: 16px;
    color: #30BAE7;
    font-family: 'Titillium Web', sans-serif;
}

.text-icon-team{
    font-size: 16px;
    color: #3C4761;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    margin-top: 15px;
}

.iicons{
    width: 80%;
    display: inline-flex;
    justify-content: space-between;
    margin-top: 30px;
}

.iicons2{
    width: 60%;
}

.small-circle{
    width: 32px;
    height: 32px;
    background: rgba(189, 209, 223, 1);
    align-items: center;
    border-radius: 50%;
}

.small-circle img{
    margin-top: 10px;
}

.container3{
    width: 100%;
    height: 655px;
    background: rgba(255, 255, 255, 1);
}

.main-heading3{
    color: #3C4761;
}

.text-box3{
    color: #393939;
}

.icons-skills{
    width: 80%;
    display: inline-flex;
    justify-content: space-between;
    margin-top: 90px;
}

.icon-box-skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.heading-icon-skills{
    color: #3C4761;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
}

.icon-skills1 img{
    width: 165px;
    height: 175px;
}

.icon-skills2 img{
    width: 165px;
    height: 175px;
}

.icon-skills3 img{
    width: 165px;
    height: 175px;
}

.icon-skills4 img{
    width: 165px;
    height: 150px;
}

.container4{
    width: 100%;
    height: 1423px;
    background: rgba(255, 221, 153, 1);
}